.container{
    position: absolute;
    align-self: center;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    top: 25%;
    bottom: 0px;
    left:20%;
    height: 50%;
    width: 50%;
    background: whitesmoke;
    
}

.container input{
    display:block;
    border: 1px solid black;
    border-radius: 25px;
    width: 225px;
    height: 15px;
    place-content: inherit;
    margin:  0 0 4px;
    padding: 10px;
    text-align: left;
}

.container select{
    display:block;
    border: 1px solid black;
    border-radius: 25px;
    width: 225px;
    height: 40px;
    place-content: inherit;
    margin:  0 0 4px;
    padding: 10px;
    text-align: left;
}

.container button{
    border: 1px solid black;
    border-radius: 25px;
    width: 40%;
    height: 25px;
    position: relative;
    left: 30%;
    margin-top: 30px;
}