body{
    justify-content: center;
    align-items: center;
    background: lightslategray;
}

.main{
    float: left;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    margin-left: 30px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }z
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }